body {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  background-color: #878787; 
}

input {
  line-height: 30px;
  border-radius: 7px;
  padding: 5px 10px; 
  border: 1px solid #ccc;
}

button {
  line-height: 30px;
  width: 55%;
  background-color: #75ff59;
  color: #000000; 
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.contain {
  text-align: center;
  border-radius: 6px;
  background-color: #f9f9f9; 
  width: 300px;
  padding: 10% 0; 
}

button:hover {
  background-color: #89ff97; 
  box-shadow: 0px 0px 6px #000;
}

input:hover {
  box-shadow: 0px 0px 7px #000;
}
